<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="home-page.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">

    <title>Теплик</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="#">
                <h1 class="name">
                    Теплик
                </h1>
                <img class="homeimg"
                    src="https://media.istockphoto.com/id/1272687883/vector/stay-home-concept-home-love-heart-icon.jpg?s=170667a&w=0&k=20&c=3Sbd006WXLRZYmg5KJ2aLAp0s7wa1_TKdd9-b8cLITI=">
            </a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </nav>
    </header>


</body>

</html>