body {
    background-color: rgba(255, 153, 0, 0.35);
    margin: 0 auto;
}

header {
    background-color: orange;
    border-bottom: 1px solid darkorange;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
}

.homeimg{
    width: 55px;
    height: 55px;
}

.navbar{
    width: 1000px;
}

ul {
    margin: 15px auto;
    padding: 0 20px;
    text-align: end;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
    margin: 0 20px;
}

a {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color:crimson;
}

h1 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    align-items: center;
}

.name{
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}